<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{currentCategoryName}}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{product.id}}">
            <img src="{{product.imageUrl}}" class="img-responsive">
<!--            </a>-->
<!--            <a routerLink="/products/{{product.id}}">-->
            <h1>{{product.name}}</h1>
            </a>
            <div class="price">
              {{product.unitPrice | currency:'USD'}}
            </div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found</div>
      </div>
    </div>
  </div>
</div>







<!--<table class="table">-->
<!--    <thead class="thead-dark">-->
<!--      <tr>-->
<!--        <th></th>-->
<!--        <th>Name</th>-->
<!--        <th>Price</th>-->
<!--        <th>Units in stock</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--  <tbody>-->
<!--    <tr *ngFor="let product of products">-->
<!--      <td class="align-center"><img src="{{product.imageUrl}}" height="50"></td>-->
<!--      <td>{{product.name}}</td>-->
<!--      <td>{{product.unitPrice | currency:'USD'}}</td>-->
<!--      <td>{{product.unitsInStock}}</td>-->
<!--    </tr>-->

<!--  </tbody>-->
<!--</table>-->

